*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Navbar Design and Flex */
header {
    background-color: steelblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    flex: 2 1 10rem;
    display: flex;
    justify-content: center;
}

header nav ul li {
    width: 10%;
    padding: 0.5rem;
    font-size: 3rem;
    list-style: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
}

header nav ul li:hover {
    background-color: #406682;
    color: #dee4e9;
}

header nav h1 {
    flex:0.5 1 3rem;
    font-size: 4rem;
    color: white;
}

header nav button {
    flex: .2 1 5rem;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    height: 100rem;
    width: 100%;
}


/* divs flexbox no wrapping */

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    border: 2px solid black;
}

.box div {
    height: 10rem;
    border: 2px solid black;
    flex-basis: 15rem;
    flex: 1 2 10rem;
}

/* Removed Individual flex shorthand */

.container-1 {
    background-color: #406682;
}

.container-2 {
    background-color: #607e96;
}

.container-3 {
    background-color: #7f96aa;
}

.container-4 {
    background-color: #9eafbf;
}

.container-5 {
    background-color: #bec9d4;
}

.container-6 {
    background-color: #dee4e9;
} 